.main {

  color: white;
  background-color: black;
  border-color: yellow;
 }

.spanColor {
  color: red;
}


.formClass {
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
  color: black;
  background-color: grey;
  border-color: yellow;
  width:50%;
  margin-left: 25%;;
} 

.updateClass{
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
  color: black;
  background-color: lightgreen;
  width:50%;
  margin-left: 25%;; 

}
